
/* section4------------------------------------------------------*/
/* popular classe------------------------------------------------------*/
.popular{
	width:100%;
	position:relative;
	text-align: center;
	padding-top:60px;
}
/*  fin section4------------------------------------------------------*/
/* fin popular classe------------------------------------------------------*/

