//* section3------------------------------------------------------*//
/* mail classe------------------------------------------------------*/
.mail1 {
	text-align: center;
	font-size: 12px;
	margin-top:50px;
	a {
		font-size:18px;
		position:relative;
		left: -40px;	
	}
	input {
		text-align: center;
		padding-left: 50px;
		text-align: left;
		width:  377px;
		height: 50px;
		font-size: 12px;
	}
}
//* Subscribe classe------------------------------------------------------*//
.Subscribe{
	width:100%;
	position:relative;
	text-align: center;
}
.Subscribe-newsletter h2{
	text-align: center;
}
/* Subscribe classe------------------------------------------------------*/
//* fin section3------------------------------------------------------*//
