@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?71bm2v');
  src:  url('../fonts/icomoon.eot?71bm2v#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?71bm2v') format('truetype'),
    url('../fonts/icomoon.woff?71bm2v') format('woff'),
    url('../fonts/icomoon.svg?71bm2v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icons_1:before {
  content: "\e900";
  color: #81c5be;
}
.icon-icons_2:before {
  content: "\e901";
  color: #81c5be;
}
.icon-icons_3:before {
  content: "\e902";
  color: #9cc;
}
.icon-icons_4:before {
  content: "\e903";
  color: #9cc;
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
