
//* footer ------------------------------------------------------*//
.Copyright{
	text-align: center;
	margin-top:50px;
	
}
.Copyright svg{
	margin-left:20px; 

}
//* fin footer------------------------------------------------------*//